<!DOCTYPE html>
<html>
  <head>
    <title>Screencast FFMPEG+video4linux2</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>STB Screencast</h1>
    <video controls preload="none" autoplay="autoplay" autobuffer id="video">
        <source src="video.webm" type="video/webm">
        <p>Your browser does not support WebM video.</p>
    </video>
  </body>
</html>